@model IEnumerable<Bangazon.Models.AbandonedProductTypes>

@{
    ViewData["Title"] = "GetAbandonedOrders";
}

<h1>Most Common Product Types on Abandoned Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Type
            </th>
            <th>
                Incomplete Orders
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.ProductType.Label
                </td>
                <td>
                    @item.Count
                </td>
            </tr>
        }
    </tbody>
</table>
