@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "GetAbandonedOrders";
}

<h1>Product Types on Abandoned Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Product Type
            </th>
            <th>
                Incomplete Orders
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
                @foreach (var op in item.OrderProducts)
                {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => op.Product.ProductType.Label)
            </td>
            <td>
                @* DISPLAY COUNT @Html.DisplayFor(modelItem => item.DateCompleted) *@
            </td>
        </tr>
                }
}
    </tbody>
</table>
