@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "GetIncompleteOrders";
}

<h1>GetIncompleteOrders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Customer Name
            </th>
            <th>
                Order Number
            </th>
            <th>
                Products
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
{



            @foreach (var product in item.OrderProducts)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName) @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
                @foreach (var thing in item.OrderProducts)
                {
            <td>

                    @Html.DisplayFor(modelItem => thing.Product.Title)
            </td>
                }
        </tr>

            }
}
    </tbody>
</table>
