@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Reports</h1>

<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <a href=@($"http://localhost:5000/Orders/GetAbandonedOrders")>Abandoned Orders Report</a>
            </td>
            <td>
                <a href=@($"http://localhost:5000/Orders/GetIncompleteOrders")>Incomplete Orders Report</a>
            </td>
            <td>
                <a href=@($"http://localhost:5000/Orders/GetMultipleOrder")>Get Multiple Order</a>
            </td> 
        </tr>
    </tbody>
</table>
