@model IEnumerable<Bangazon.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>Reports</h1>
<h4>Choose a report to run:</h4>

<ul>
    <li>
        <a href=@($"http://localhost:5000/Orders/GetAbandonedOrders")>Abandoned Product Types</a>
    </li>
    <li>
        <a href=@($"http://localhost:5000/Orders/GetIncompleteOrders")>Incomplete Orders</a>
    </li>
    @* <li>
            <a href=@($"http://localhost:5000/Orders/{{RYANS-METHOD-NAME-HERE}}")>Customers With Multiple Orders Report</a>
        </li> *@
</ul>
